#master-root{
    max-width: 100vw;
    margin: 0 auto;
    display: block;
}


header {
    position: sticky;
    top: 0;
    max-width: calc(100% - 4rem);
    min-width: 320px;
    background-color: #fff;
    color: #333; /* Adjust text color to your preference */
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    transition: top 0.3s; /* Smooth transition for the header */
}

header.sticky {
    position: sticky;
    max-width: 100%;
    height: 76px; /* Adjust the desired height when sticky */
    padding: 1rem; /* Adjust padding as needed */
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a shadow to the header */
   
}

article{
    position: relative;
    z-index: 1;
}
/* Header Component Styles */
/* .header {
    position: relative;
    max-width: calc(100% - 4rem); 
    min-width: 320px;
    background-color: #fff;
    color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;


} */

.title{
    font-weight: 900;
    font-size: 35px;
    color: #BDBDBD;
    text-transform: uppercase;
}

.left{
    width: 30%;
}

.right{
    width: 70%;
}

#clock {
    margin-bottom: 10rem;
    font-size: 2rem;
    text-align: center;
    color: #333;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#date {
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: #777;
}

.logo {
    position: relative;
    top: 26px;
    left: 15%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

/* Navigation Component Styles */
.navigation {
    background-color: #fff;
    padding: 1rem;
    flex: 1;
    
}

.navigation ul {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content:flex-start;
}
.navigation ul li:nth-child(5n) {
    margin-right: 1rem;
    width: calc(20% - 2px);
}
.navigation li {
   width: calc(20% - 2px);
}
.navigation li:nth-child(5n) {
    width: calc(20% - 2px);
 }
.navigation a {
    text-decoration: none;
    color: #333333;
    padding: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navigation a:hover {
    background-color: #fff;
}

/* Content Component Styles */
.content {
    padding: 2rem;
}

/* -----------------  Menu Navigate------------------------ */
/* Thêm đường kẻ trên và dưới chữ "MAIN" */
.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.menu-item.active a {
    position: relative;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    margin-top: -19px;
    transform: translate(-50%, -50%);
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    width: calc(100%);
}

.menu-item.active a::before,
.menu-item.active a::after {
    content: '';
    position: absolute;
    left: 0; /* Set left to 0 */
    width: 100%; 
    height: 2px;
    background-color: #333333; /* Updated color to a nice blue */
    transition: width 0.3s ease, background-color 0.3s ease; /* Adjusted transition properties */
}

.menu-item.active a::before {
    top: -4px;
}

.menu-item.active a::after {
    bottom: -4px;
}

.menu-item.active a::before,
.menu-item.active a::after {
    width: 100%;
    background-color: #333333; 
    animation: slideIn 0.3s ease; 
}

@keyframes slideIn {
    from {
        width: 0;
        left: 0;
    }
    to {
        width: 100%;
        left: 0; /* Keep it left-aligned */
    }
}



/* ------------  Banner Slides -------------- */
/* .banner-container {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
}


.banner-left,
.banner-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff; 
    color: #333333 ;
}

.banner-btn{
    display: flex;
}

.prev-button,
.next-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333333;
    margin: 5px;
}
.banner-left{
    width: 30%;
}
.banner-right {
    width: 70%;
    flex: 1;
}

.banner-slides {
    display: flex;
    width: 400%;
    transition: transform 0.5s ease-in-out;
}

.banner-slide {
    width: 25%;
    box-sizing: border-box;
}

.banner-slide img {
    width: 100%;
    height: auto;
} */
.banner-section{
    position: relative;
    margin-left: 11px;
   max-width: 97vw;
   z-index: 1;
}
.banner-container {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-left: 1.2rem;
}

.banner-left,
.banner-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff; 
    color: #333333;
}

.banner-btn {
    display: flex;
    margin: 10rem auto;
}

.prev-button,
.next-button {
    position: relative;
    font-size: 24px;
    background: none;
    border: 1px solid #eee5e5;
    cursor: pointer;
    color: #333333;
    margin: 5px;
}

.prev-button:hover,
.next-button:hover {
    background-color: #eee5e5;
    border: 1px outset #eee5e5;
}
.next-button::after {
    position: absolute;
    top: 50%;
    left: 18.7rem;
    transform: translate(-50%, -50%);
    display: flex;
    content: '';
    height: 1px;
    width: 300px;
    background-color: #eee5e5;
    margin: auto;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
}
.banner-left {
    width: 30%;
}

.banner-right {
    position: relative;
    width: 70%;
    flex: 1;
    flex-direction: row;
    overflow: hidden;
    z-index: 2;
}

.banner-link{
    position: absolute;
    left: 0;
    bottom: 25px;
    transform: translate(0, 50%);
    width: 200px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.btn-banner-link{
    width: 200px;
    height: 50px;
    background: #fff;
    border-top: #fff ;
    border-right: #fff ;
    border-bottom: #fff;
    border-left: #fff;
    color: #333333;
    text-transform: uppercase;
}
.btn-banner-link:hover{
    background-color: #fbf8f8;
    border: .5px outset #fbf8f8;
}

.number-grid {
    display: flex;
    align-items: center;
}

.number {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    padding: 10px;
    border-radius: 5px; 
    background-color: #f0f0f0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
}

.separator {
    margin: 0 10px;
    color: #777; 
}

.banner-title{
    font-weight: 900;
    font-size: 35px;
}

.banner-text{
    margin-top: 1rem;
    font-weight: 700;
    font-size: 27px;
}

.banner-slides {
    display: flex;
    /* Adjust the width to accommodate all slides horizontally */
    min-width: 100rem ;
    transition: transform 0.5s ease-in-out;
}

.banner-slide {
  /* Each slide takes 25% of the container width */
    display: flex;
    width: 100rem ;
    height: 80rem;
}

.banner-slide img {
    width: 100rem;
    height: 100rem;
    object-fit: cover;
}

/* ------------  Banner Slides -------------- */

/* ---------------- Footer ----------------- */
footer {
    position: relative;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    
}

footer div {
    font-size: 1.8rem;
}

/* Responsive Styles */

/* Mobile Styles */
/* Mobile Styles */
@media only screen and (max-width: 767px) {
    .header {
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo {
        left: 0;
        right: 0;
    }

    .navigation {
        padding: 0.5rem;
    }

    .navigation ul {
        flex-direction: column;
        align-items: center;
    }

   

    .navigation li {
        margin-right: 0;
        margin-bottom: 1rem;
        width: 100%; /* Full width for mobile */
    }

    .navigation ul li:nth-child(5n) {
        margin-right: 1rem;
        width: calc(20% - 2px);
    }

    .navigation a {
        padding: 0.5rem;
        border-radius: 5px;
    }

    .content {
        padding: 1rem;
    }

    .menu-item.active a::before,
    .menu-item.active a::after {
        width: 100%;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        padding: 1.5rem;
    }

    .navigation {
        padding: 0.8rem;
    }

    .navigation ul li:nth-child(5n) {
        margin-right: 1rem;
        width: calc(30% - 2px);
    }

    .navigation li {
        margin-right: 1rem;
        width: calc(30% - 2px);
    }

    .content {
        padding: 1.5rem;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
    .header {
        padding: 2rem;
    }

    .navigation {
        padding: 1rem;
    }

    .navigation li:first-child{
        margin-right: 4rem;
        width: calc(100% - 2px);
    }
    .navigation ul li:nth-child(5n) {
        margin-right: 1rem;
        width: calc(100% - 2px);
    }

    .navigation li {
        margin-right: 2rem;
        width: calc(100% - 2px);
    }

    .content {
        padding: 2rem;
    }
}

/* Larger Screens - Beyond 1440px */
@media only screen and (min-width: 1441px) {
    .header {
        padding: 2.5rem;
    }

    .navigation {
        padding: 1.2rem;
    }

    .navigation li {
        margin-right: 2.5rem;
        width: calc(20% - 2px);
    }

    .content {
        padding: 2.5rem;
    }

    .banner-slide{
        min-width: 100%;
    }
}



/* ------------ Section About  -------------- */

.content-about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5rem 14rem;
    width: 127rem;
    background: #FBFBFB; 
    padding: 15px 20px;
}

.column {
    flex: 1;
}

.image-contentAbout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 45rem;
}

.image-contentAbout .column {
    flex: 1; /* Mỗi cột sẽ co giãn để lấp đầy không gian của image-contentAbout */
    margin-left: 20px;
}
.image-contentAbout .column:nth-child(2){
    flex: 1; 
    padding-right: 20px; /* Tạo khoảng cách giữa 2 cột */
}
.image-contentAbout img {
    margin-bottom: 20px;
    width: 100%;
}

.paragraph-contentAbout {
    padding-left: 20px; /* Tạo khoảng cách giữa cột hình ảnh và cột văn bản */
    text-align: justify;
}

.text-contentAbout {
    margin-top: 2rem;
    margin-bottom: 4rem ;
    text-indent: 20px; 
    font-size: 16px; /* Điều chỉnh kích thước của văn bản */
    line-height: 1.6; /* Điều chỉnh dãn dòng */
    letter-spacing: 0.5px; /* Điều chỉnh khoảng cách giữa các chữ cái */
}


.read-more {
    position: relative;
    background-color: #fff;
    color: #333333;
    padding: 2rem 5rem;
    text-transform: uppercase;
    overflow: hidden;
    transition: background-position 0.5s ease;
    background-image: linear-gradient(to right, #fff, #f0f0f0, #fff);
    background-size: 200% 100%;
}

.read-more:hover {
    background-position: right center;
}


/* -------------- Statement -------------- */

.content-statement {
    display: flex;
    flex-direction: column;
    height: 45rem;
}

.content-statement-container {
    display: flex;
    height: 31rem;
    width: 90%;
    justify-content: center;
    margin: auto;
    align-content: center;
}

.statement-title{
    text-align: center;
}

.content-statement-left,
.content-statement-right {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 10px; /* Thêm padding cho cả hai cột */
}

.content-statement-number,
.content-statement-text {
    margin-bottom: 10px; /* Khoảng cách giữa các phần tử con */
}

.content-statement-number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%; /* Chiều cao cố định của số */
    width: 50%;
}

.content-statement-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #ffffff; /* Màu nền của văn bản */
    flex: 1; /* Văn bản chiếm phần còn lại của cột */
    width: 50%;
}

.number-item{
    font-size: 20rem;
    font-weight: 900;
    color:  #F2F2F2;
}

.content-statement-text p{
    text-indent: 20px; 
    font-size: 16px; /* Điều chỉnh kích thước của văn bản */
    line-height: 1.6; /* Điều chỉnh dãn dòng */
    letter-spacing: 0.5px; /* Điều chỉnh khoảng cách giữa các chữ cái */
    text-align: justify;
}

/* --------------- OUR PROJECT --------------- */
.our-project-title{
    text-align: center;
}

/* --------- back to top ------- */

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2665d64d;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    outline: none;
    overflow: hidden;
    z-index: 9999;
}

#backToTopBtn.show {
    display: block;
}

#backToTopBtn:hover {
    background-color: #0056b3;
}

#backToTopBtn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#backToTopBtn.show {
    animation: fadeIn 0.5s forwards;
}


/* ----------------  */

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.project-card {
    margin: auto 15px;
}

.project-card:nth-child(3n) {
    margin: auto 15px;
}

.project-title{
    position: relative;
    top: -180px;
    left: 60%;
    transform: translate(-50%, -50%);
}

.view-more{
    position: relative;
    top: -92px;
    left: 10%;
    transform: translate(-50%, -50%);
    background-color: #4627273f;
    color: #cccccc;
    padding: 2rem 5rem;
    text-transform: uppercase;
    overflow: hidden;
    transition: background-position 0.5s ease;
    background-image: linear-gradient(to right, #fff, #f0f0f0, #fff);
    background-size: 200% 100%;
}






