/* Thiết lập màu chữ và nền */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 650px;
    max-width: 100%;
    text-align: center;
}

.register-card-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333333;
}

.register-label {
    font-size: 16px;
    color: #555555;
}

.register-input {
    margin-bottom: 20px;
}

.register-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.register-error-feedback {
    color: #ff0000;
    font-size: 14px;
}

.register-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.register-button:hover {
    background-color: #0056b3;
}

/* Hiệu ứng hover */
.register-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.register-form-group-row:last-child {
    margin-bottom: 0;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

/* ========================== */

.register-checkbox-input {
    /* Hide the default checkbox */
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Style the custom checkbox */
  .register-checkbox-input + .register-checkbox-label:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff; /* Background color of the checkbox */
    border: 2px solid #ccc; /* Border color of the checkbox */
    border-radius: 4px; /* Border radius to make it rounded */
    vertical-align: middle;
    margin-right: 10px; /* Spacing between checkbox and label text */
  }
  
  /* Style the custom checkmark */
  .register-checkbox-input:checked + .register-checkbox-label:before {
    content: '\2713'; /* Unicode checkmark character */
    font-size: 16px; /* Adjust size of the checkmark */
    text-align: center;
    line-height: 20px; /* Center the checkmark vertically */
    color: #007bff; /* Color of the checkmark when checked */
  }
  
  /* Style the label text */
  .register-checkbox-label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #333; /* Text color */
  }
  
  #recaptcha-v2{
    display: flex;
    justify-content: center;
  }